.FeaturedProducts {
    margin: 100px 200px;
}

.FeaturedProducts > .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
}

.FeaturedProducts > .top > h2 {
    flex: 2;
}

.FeaturedProducts > .top > p {
    flex: 3;
    color: gray;
}

.FeaturedProducts > .bottom {
    display: flex;
    justify-content: center;
    gap: 50px;
}