.navbar {
    height: 80px;
}

.wrapper {
    padding: 10px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left {
    display: flex;
    align-items: center;
    gap: 25px;
}

.right {
    display: flex;
    align-items: center;
    gap: 25px;
}

.center {
    font-size: 30px;
    letter-spacing: 2px;
}

.item > img {
    height: 12px;
}

.item {
    display: flex;
    align-items: center;
}

.icons {
    display: flex;
    color: #777;
    cursor: pointer;
    gap: 15px;
}

.cartIcon {
    position: relative;
}

.cartIcon > span {
    font: size 12px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #2879fe;
    color: white;
    position: absolute;
    top: -10px;
    right: -10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
